{% extends "base.html" %} {% block title %}Add Discounts{% endblock %} {% block
content %}


<div class="album py-5 bg-light">
    <link rel="stylesheet" href="../static/discounts.css">
    <div class='welcome'><img src="../static/pictures/discount.png" width="90%" height="90%" alt="Add Discounts"></div>
    <br>
    <div class='subtitle'>Add Discounts to the store</div>
    <div class="container">
        <form method="POST">
            <label>Enter discount <input type="number" name="discountt">%</label>
            <br>
            <input id="num" class="btn2" type="submit" value="Create">
        </form>

        <div class="row">
            {% for i in discount %}
            <div class="card">
                <div class="container" id="container2">
                    <span id="span">{{i.discount_info}}% Off</span>
                </div>
                <div class="card-footer"><a id="removeD" class="btn btn-primary btn-sm"
                        href="{{ url_for ('store.remove_discount', id=i.id) }}">Remove Discount</a></div>
            </div>
            {% endfor %}
            <div class="spaceJam"></div>
        </div>
    </div>
</div>

{% endblock %}