{% extends "base.html" %} Forgot Password {% block title %}Login{% endblock %}
{% block content %}
<style>
  /* Source https://codepen.io/Tbgse/pen/JXrJGX because I lack the skills */
  * {
    font-family: Montserrat;
  }

  body,
  html {
    margin: 0;
    height: 80%;
    border-radius: 12px 12px 12px 12px;
    overflow: 100%;
  }

  input {
    border: none;
  }

  button:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
  }

  ::-webkit-input-placeholder .input-line:focus+::input-placeholder {
    color: #fff;
  }

  .highlight {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
    text-decoration: underline;
  }

  .highlight:hover {
    color: rgba(35, 190, 178, .9);
    font-weight: bold;
    transition: color .2s ease;
  }

  .spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.85)
  }

  a:link {
    color: rgba(0, 0, 0, 0.85);
  }

  a:visited {
    color: rgba(0, 0, 0, 0.85);
  }

  a:hover {
    color: rgba(35, 190, 178, .9);
  }

  .input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .ghost-round {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(35, 190, 178, .6);
    background-color: rgba(35, 190, 178, .6);
    border-radius: 25px;
    color: rgba(255, 255, 255, 1);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: 20px;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .ghost-round:hover {
    background: rgba(35, 190, 178, .9);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: Montserrat;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .full-width {
    width: 100%;
  }

  .input-fields {
    margin-top: 25px;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80%;
    margin-top: 10%;
    /* Error*/
    margin-bottom: 7em;

  }

  .content {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 5;
    border-radius: 25px;
  }

  .welcome {
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
    font-weight: bold;
  }

  .subtitle {
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 20px;
  }

  .window {
    z-index: 100;
    color: #fff;
    font-family: Montserrat;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    height: 380px;
    width: 760px;
    background: #fff;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, .8);
    border-radius: 12px 12px 12px 12px;
  }

  .overlay {
    background: -webkit-linear-gradient(#ffffff, #000000);
    background: linear-gradient(#000000, #ffffff);
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 360px;
    position: absolute;
    width: 760px;
    z-index: 1;
    border-radius: 12px 12px 12px 12px;
  }

  .bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity: 0.1;
    background-size: cover;
  }

  .spaceJam {
    margin-bottom: 30em;
  }

  @media (max-width: 1000px) {
    .container {
      margin-top: 5em;
    }

    .window {
      width: 100%;
      height: 90%;
    }

    .overlay {
      width: 100%;
      height: 90%;
    }

    .spacing {
      height: 100px;
    }
  }
</style>

<!-- Input Data -->
<form method="POST">
  <div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Forgot your password?</div>
        <div class='subtitle'>Enter your email and we'll give you a new one!</div>
        <div class='input-fields'>
          <input type="email" placeholder="Enter email" class="input-line full-width" id="email" name="email"></input>
          <!-- Submit button -->
          <div><button type="submit" class='ghost-round full-width'>Password, please!</button></div>
        </div>
        <!-- Links -->
        <div class='spacing'>Returning? <span class='highlight'><a href="/login">Log in here!</a></span>
          <div class='spacing'>New here? <span class='highlight'><a href="/sign-up">Sign up here!</a></span></div>

        </div>
      </div>
    </div>
    <div class="spaceJam" </form>
      {% endblock %}